[Unit]
Description=scheet,py op tty7
After=getty@tty7.service

[Service]
Type=simple
ExecStart=/bin/bash -c '/usr/bin/python3 /home/mark/Documenten/secretaire/secretaire.py'
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
